<html>
    <meta charset="UTF-8">
    <head>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <title>Test</title>
        
    </head>
    <body>
        <h1>Tervetuloa! <%= enimi %> <%=snimi%></h1>
        
    </body>
</html>